# --- RAHASIA (JANGAN DIUPLOAD) ---
.env
.env.*
*.key
*.pem

# --- PYTHON CACHE ---
__pycache__/
*.py[cod]
*$py.class

# --- HASIL SCAN & REPORT (PRIVASI) ---
reports/
logs/
*.log
*.pdf
*.html

# --- SYSTEM ---
.DS_Store
Thumbs.db
myenv/
venv/
env/
nikto_output.txt
output.txt
gobuster_output.txt
tradepmr.com_ips.txt
tradepmr_nmap.gnmap
tradepmr_nmap.nmap
tradepmr_nmap.xml
assets/Screenshot_20251227_175617.png
